<article class="post-card">
  <header>
    <h2 class="title">
      <a href="{{url}}">{{title}}</a>
    </h2>
    {{> "post-metadata" dateFormat="YYYY/MM/DD"}}
  </header>
  <div class="body">
    <div class="thumbnail">
      <a href="{{url}}">
        {{#if feature_image}}
        <picture>
          <source
            srcset="{{img_url feature_image size="s" format="avif"}}"
            type="image/avif"
          />
          <source
            srcset="{{img_url feature_image size="s" format="webp"}}"
            type="image/webp"
          />
          <img
            src="{{img_url feature_image size="s"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            loading="lazy"
          />
        </picture>
        {{else}}
        <img
          src="{{asset 'images/noimage.png'}}"
          alt="{{title}}"
          loading="lazy"
        />
        {{/if}}
      </a>
    </div>
    <div class="excerpt">
      <a href="{{url}}">
        {{excerpt characters="140"}}
      </a>
    </div>
  </div>
</article>