<!DOCTYPE html>
<html lang="{{@site.locale}}">
  <head>
    {{#is 'post, page'}}
    <title>{{meta_title}} - {{@site.title}}</title>
    {{else}}
    <title>{{meta_title}}</title>
    {{/is}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{asset 'css/screen.min.css'}}"
    />

    {{ghost_head}}
  </head>

  <body>
    <header class="site-header">
      <div class="site-header__inner">
        <div class="site-title">
          <a href="{{@site.url}}">{{@site.title}}</a>
        </div>
        <button class="gh-search" data-ghost-search aria-label="Search">
          <div class="text">Search</div>
          <div class="icon"></div>
        </button>
      </div>
      <div class="site-header__divider"></div>
    </header>

    <div class="site-main">
      <div class="site-main__inner">
        <div class="main-content">{{{body}}}</div>
        <div class="sidebar">
          <div class="profile">
            <div class="profile__image">
              <picture>
                <source
                  srcset="{{asset 'images/sugtao4423-w150.avif'}}"
                  type="image/avif"
                />
                <source
                  srcset="{{asset 'images/sugtao4423-w150.webp'}}"
                  type="image/webp"
                />
                <img
                  src="{{asset 'images/sugtao4423-w150.jpg'}}"
                  alt="sugtao4423"
                />
              </picture>
            </div>
            <div class="profile__text">
              <div class="profile__name">tao</div>
              <div class="profile__links">
                <a href="https://sugtao4423.xyz" aria-label="HomePage">
                  <div class="icon homepage"></div>
                </a>
                <a href="https://twitter.com/sugtao4423" aria-label="Twitter">
                  <div class="icon twitter"></div>
                </a>
                <a href="https://github.com/sugtao4423" aria-label="GitHub">
                  <div class="icon github"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="site-footer__inner">
        <a href="{{@site.url}}">{{@site.title}}</a>
        &copy; {{date format="YYYY"}}.
      </div>
    </footer>

    <script src="{{asset 'js/main.min.js'}}"></script>
    {{ghost_foot}}
  </body>
</html>
