{{!< default}}
{{#post}}
<main class="post">
  <article>
    <header>
      <div class="reading-time">{{reading_time}}</div>
      <h1>{{title}}</h1>
      {{> "post-metadata" dateFormat="YYYY/MM/DD HH:mm"}}
    </header>
    <div class="content">{{content}}</div>
    <div class="share">
      <a
        class="twitter-share"
        href="https://twitter.com/intent/tweet?text={{encode (concat title '-' @site.title separator=' ')}}&url={{encode (url absolute='true')}}"
        target="_blank"
        rel="noopener noreferrer">
        <div class="tweet-icon"></div>
      </a>
    </div>
  </article>
</main>
{{/post}}